.App {
  background-color: #f6f6f6;
  color: #0d1d2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.resultSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 135px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.expenseBox span {
  font-weight: bold;
  color: green;
}
.btn {
  outline: none;
  padding: 5px 10px;
  background-color: #ede9fe;
  color: #6d28d9;
  border-radius: 5px;
  border: 1px solid #6d28d9;
}

.primary {
  color: #fff;
  background-color: #6d28d9;
  border: none;
  padding: 6px 10px;
}

.cancel {
  background-color: #fff;
  color: #dc2626;
  border: 1px solid #dc2626;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 170px;
  justify-content: space-around;
  margin-bottom: 30px;
}

input {
  border: 1px solid #ccc;
  padding: 10px 12px;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
input[type="radio"] {
  margin-left: 50px;
}

.radioBox {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 12px;
}
.radioBox label {
  margin-left: 5px;
}

.topSection p {
  font-weight: bold;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f5;
  margin-top: 15px;
  font-weight: bold;
  border-right: 4px solid green;
}

.searchInput {
  display: block;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: #efefef;
}
.searchInput:focus{
  border: 2px solid #6d28d9;
}
